.uk-container
    footer
        <div id="my-id" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="">Home</a></li>
                    <li class="uk-parent"><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <a href="#" uk-totop uk-scroll></a>
script(type="text/javascript" src='js/app.js')
