section#search-2.widget.widget_search
	form.search-form(role='search', method='get', action='http://localhost:8888/local/Juliet/wordpress/')
		label
			span.screen-reader-text Search for:
			input.search-field(placeholder='Search …', value='', name='s', type='search')
		button.search-submit(type='submit')
			span.screen-reader-text Search