//- footer-widgets.php
	Displays footer widgets if assigned
aside.widget-area(role="complementary")
	.widget.widget-column.footer-widget-1
		nav
			ul
				li
					a(href='portfolio.html' class="animsition-link") 
						span.title|Portfolio
				li
					a(href='process.html' class="animsition-link") 
						span.title|Process
				li
					a(href='about.html' class="animsition-link")
						span.title|About
				li
					a(href='availability.html' class="animsition-link")
						span.title|Availability
	.widget.widget-column.footer-widget-2
		a(href="#")
			i.fa.fa-instagram
		a(href="#")
			i.fa.fa-github