//- site-info.php
	Displays footer site info

.site-info
	.site-title
		div
			ul.unstyled.horizontal
				li
					a(href="https://github.com/irish/" target="_blank")
						img(src="assets/icons/github.svg" width="25")
				li
					a(href="http://instagram.com/carrigroe" target="_blank")
						img(src="assets/icons/instagram.svg" width="25")