/*--------------------------------------------------------------
Cards-alt Alt: .cards-alt > .card-item > .card-alt
--------------------------------------------------------------*/
.cards-media {
    max-width: 25em;
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
    a {
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
        color:black;
    }
    .card-item{
        background-color: #fff;
        .caption {
            padding: 0 1em;
            font-size: 90%;
        }

        .caption-title {
            margin: 0;
            font-size: 1.4em;
            line-height: 1em;
        }

        .caption p {
            margin-top: .5em;
            margin-bottom: 0;
        }
    }
}

.cards-media a:focus .caption,
.cards-media a:hover .caption {
    //background: hsl(0, 0%, 97%);
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (grid-area: auto) {
    @media screen and (min-width: 27em) {
        .cards-media {
            margin: 0 auto;
        }
        .card-media {
            margin: 1em 0;
            padding: .5em;
            display: grid;
            grid-template-columns: 8em auto;
        }
        .cards-media a:focus,
        .cards-media a:hover {
            outline: 1px solid hsl(0, 0%, 80%);
        }
    }
    @media screen and (min-width: 60em) {
        .cards-media {
            max-width: none;
            margin: 1em 0;
            display: grid;
            grid-template-columns: repeat(2, 49%);
            grid-gap: 1em;
            justify-content: center;
        }
    }
    @media screen and (min-width: 70em) {
        .cards-media {
            max-width: none;
            margin: 1em 0;
            display: grid;
            grid-template-columns: repeat(4, 24%);
            grid-gap: 1em;
            justify-content: center;
        }
        .card-media {
            margin: 0;
        }
        .double {
            grid-row: span 3;
        }
        .double .card-media {
            display: block;
        }
    }
}