/*--------------------------------------------------------------
Cards-alt Alt: .cards-alt > .card-item > .card-alt
--------------------------------------------------------------*/

.cards-alt {
    max-width: 25em;
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
    a {
        display: block;
        text-decoration: none;
        color: #fff;
        &:focus .caption,
        &:hover .caption {
            //background: hsl(0, 0%, 93%);
        }
    }
    .card-item{
        img {
            display: block;
            border: 0;
            width: 100%;
            height: auto;
        }
        .card-alt .caption {
            padding: 1em;
            background-color: #fff;
            background-color: var(--white);
            color: #000;
            color: var(--black);
            .caption-title {
                margin: 0;
                font-size: 2em;
            }
        }
    }
}

@supports (grid-area: auto) {
    @media screen and (min-width: 27em) {
        .cards-alt {
            a:focus,
            a:hover {
                outline: 1px solid hsl(0, 0%, 80%);
                background-color: rgba(0,0,0,0.1);
            }
            .card-alt {
                margin: 1em 0;
                padding: .1em;
            }
        }
    }
}