/* ==========================================================================
SITE INTROS
========================================================================== */	
.intro{
	background-repeat: no-repeat,no-repeat;
	padding-bottom: 100px;
	border-bottom: 0;
	background-size: cover;
}