.headroom {
    background-color: 	rgba(255, 255, 255, 0);
}

.headroom--not-top {
    background-color: 	_palette(activetheme,color-a);
	// border-bottom: 		1px solid #ddd;
}	

.main-navigation ul ul, 
.main-navigation ul ul li{
	background-color: 	rgba(255,255,255,0.9);
}

.main-navigation ul ul li{
	border-color: #ddd;
}

.subtitle {
	font-size:11px;
	display:none;
	margin-top:6px;
	text-align: center;
	opacity:0;
	bottom:-11px;
	position: relative;
	transition: all 100ms linear;
	font-style: italic;
}

#colophon .site-title img,
.redwood{
	margin-bottom: 19px;
}

.image-caption{
	position: relative;
	bottom:0;
	background-color: rgba(0,0,0,0.5);
	color:#fff;
	text-align: center;
	font-size: 1.5em; 
	margin-top: -1.5em;
}

.image-description{
	text-align: center;
	font-style: italic;
	margin-top: 0.5em;
}

.item .owl-carousel-item-text{
	text-align: left;
}

.v2-alert-dot {
    position: absolute;
    right: 10px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: _palette(activetheme,color5);
    color: _palette(activetheme,color5);
}

.rotate{
	transition: all 0.2s linear;
}

.rotate.down{
	transform:rotate(45deg);
}

.project-title img{
	box-shadow: 0px 1px 1px _palette(activetheme,color5);
}
.site-footer nav ul {
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
}
.site-footer nav li {
	display: inline-block;
	float: left;
	line-height: 1;
	margin-right: 40px;
	margin-top: 0;
}
.site-footer nav a {
	font-size: 0.6875em;
	letter-spacing: 				_font(kerning-alt);
	text-transform: 				_font(header-text-transform);
}

.site-footer .site-title::after{
	content:none;
}