.round {
    border-radius:  50%;
    overflow:       hidden;
    width:          100%;
    height:         100%;
    text-align:     center;
    border:         1px solid #fff;
}

.round img {
    display:        block;
    /* Stretch 
    height: 100%;
    width: 100%; */
    min-width:      100%;
    min-height:     100%;
}