-var page = 'CSA';
doctype html
html(lang="en")
	head
		title Ideal Positions: CSA
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		include data/_#meta.pug
		link(rel='stylesheet', href='style.css')
	body.csa
		.foo
			header.masthead
				.masthead-meta
					div.bar
						ul
							li|D.O.S: Today
							li|CSR: Johnny Mnemonic
							li|Direct Line: 1-800-YOU-TUBE
					div.baz
						ul
							li|www.IdealPositions.com
							li|3135 Boeing Ave., Suite B
							li|McKinleyville, CA 95519	
							li|Toll Free: 1-866-609-3483
					div.qux
						ul
							li|Fax: 1-866-709-3483
							li|Ideal Positions
				.masthead-brand
					div.quux
						h6
							b|Ideal Positions
						p
							i|…Making Your Website Effective…
						p|Technical Support Agreement
				div.grault
					table.corge
						thead
							h6|Customer Information
						tbody
							tr
								td|Name:
								td|John Wick
							tr
								td|Business:
								td|ACME. Inc.
							tr
								td|Phone Number:
								td|123-456-7890
					
							tr
								td|Fax Number:
								td|123-456-7890
					p|I authorize Ideal Positions to perform the Requested Technical Support outlined on the accompanying “Requested Technical Support” page. I understand that all QUOTE(S) should be regarded as estimate(s) to complete the work within the allotted hour(s) described. In the event the work outlined requires more hours of Technical Support than quoted to complete, Ideal Positions reserves the right to suspend completion of the work until additional billable hours are approved.

					p|All fees incurred in regards to completion of the work outlined on the accompanying “Requested Technical Support” page will be charged to the credit card provided below. If the credit card provided declines, Ideal Positions may attempt to process the charge up to three times before attempting to contact cardholder. Attempts to charge and contact cardholder may continue until all past due charges are paid. A reprocessing fee of $10.00 will apply each time the card declines on the scheduled date of payment. Payments that are 30 days late begin accruing an additional 5% per month interest, or $20.00 per month, whichever sum is greater.

					p|There may be times when it is necessary for the client and Ideal Positions to disclose confidential information to each other. Any such information must be designated as such during delivery by the party disclosing the information (else all provisions and liabilities are waived). Once in the possession of the other party, the information must be safeguarded and remain undisclosed to other third parties. Confidential information does not include: Information that is already known to the party to which it is disclosed, information that is (or becomes) part of the Public Domain (without breach of this Agreement), and information obtained from third parties that have no obligations under this Agreement.

					p|In the event the client provides Ideal Positions with remote access in order to provide the Requested Technical Support outlined on the accompanying “Requested Technical Support” page, the client warrants that granting such access is within the scope of his or her authority. Ideal Positions shall hold confidential any information gathered from a remote source while fulfilling the scope of this Agreement. The client hereby warrants any content accessed by Ideal Positions from a remote source furnished by the client to be free from malicious software, and the client agrees to be held liable for any damage caused to Ideal Positions’ systems or business by said content. Furthermore, the client hereby agrees that at no time will Ideal Positions be liable to the client or any third party for any possible damages, including any lost profits, lost savings or other incidental, consequential or unique damages arising out of any alterations made to any content present at the remote source or resulting from lost marketing opportunities caused by delayed completion of the Requested Technical Support, even if Ideal Positions has been advised of the possibility of such damages.

					p|The client represents to Ideal Positions and unconditionally guarantees that any elements of text, graphics, photos, designs, trademarks, or other artwork furnished to Ideal Positions are owned by the client, or that the client has permission from the rightful owner to use each of these elements, and will hold harmless, protect, and defend Ideal Positions and its subcontractors from any claim or suit arising from the use of such elements furnished by the client.

					p|In any litigation, arbitration, or other proceeding by which one party either seeks to enforce its rights under this Agreement or seeks a declaration of any rights or obligations under this Agreement, in addition to any other relief to which the prevailing party may be entitled, the prevailing party shall be entitled to recover its reasonable attorney fees, costs and expenses to resolve the dispute and to enforce the final judgment.

					p|If any provision of this Agreement is found to be illegal, unenforceable, or invalid in whole or in part for any reason, the validity and enforceability of the remaining provisions will not be affected. This Agreement shall be construed and enforced in accordance with and governed by the laws of the State of California, without giving effect to the conflict of laws provisions thereof, and the choice of forum will be in California, in the County of Humboldt.

					p|This agreement constitutes the final, complete, and exclusive statement of the terms of the agreement between the parties pertaining to the subject matter of this agreement.
					table.garply
						thead
							h6|CREDIT CARD INFORMATION
						tbody
							tr
								td|Cardholder Name:	
								td|Johnny Utah
							tr
								td|Expiration Date:
								td|12/2020
							tr
								td|Type:
								td|VISA
							tr
								td|Billing Address:
								td|Santa Monica, CA, 90421
							tr
								td|Number:
								td|7865 6786 7567
							tr
								td|City/State/Zip
								td|Santa Monica, CA, 90421
					div.waldo
						p|I declare that I have the decision-making authority within my company to certify this transaction, and if not, I am personally liable for any outstanding charges with Ideal Positions.
						p|Printed Name:
						p|Signature:
						p|Date: