footer.site-footer#colophon(role="contentinfo")
	nav.main-navigation(role='navigation', aria-label='Footer Primary Menu')
		.menu-primary-menu-container
			ul#menu-primary-menu-1.primary-menu
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1697
					a(href='http://localhost:8888/local/Juliet/wordpress/front-page/') Home
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-1698(aria-haspopup='true')
					a(href='http://localhost:8888/local/Juliet/wordpress/about/') About The Tests
					button.dropdown-toggle(aria-expanded='false')
						span.screen-reader-text expand child menu
					ul.sub-menu
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1699
							a(href='http://localhost:8888/local/Juliet/wordpress/about/page-markup-and-formatting/') Page Markup And Formatting
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1700
							a(href='http://localhost:8888/local/Juliet/wordpress/about/page-image-alignment/') Page Image Alignment
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1696
					a(href='http://localhost:8888/local/Juliet/wordpress/blog/') Blog
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-1698(aria-haspopup='true')
					a(href='http://localhost:8888/local/Juliet/wordpress/about/') About The Tests
					button.dropdown-toggle(aria-expanded='false')
						span.screen-reader-text expand child menu
					ul.sub-menu
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1699
							a(href='http://localhost:8888/local/Juliet/wordpress/about/page-markup-and-formatting/') Page Markup And Formatting
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1700
							a(href='http://localhost:8888/local/Juliet/wordpress/about/page-image-alignment/') Page Image Alignment
script(type="text/javascript" src='js/app.js')
