//- Template for displaying search forms in Twenty Sixteen
form.search-form(role="search" method="get" action="")
			label
				span.screen-reader-text
				input.search-field(type="search" placeholder="Search..." name="s")
			button.search-submit(type="submit")
				span.screen-reader-text
//form.search-form