.grid
	a(href="640-stonehouse-lane.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507237662/640.jpg" class="" alt="640 Stone House Lane" width="" height="")
			figcaption
				h6.ih-fade|640 Stone House Lane
				p|Website Design &amp; Development
	a(href="capital.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507237660/capitalwaterandfire.jpg" class="" alt="Capital Water &amp; Fire Restoration" width="" height="")
			figcaption
				h6.ih-fade|Capital Water &amp; Fire Restoration
				p|Website Design &amp; Development
	a(href="hess.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507237660/hesstreeservices.jpg" class="" alt="Hess Tree Services" width="" height="")
			figcaption
				h6.ih-fade|Hess Tree Services
				p|Website Design &amp; Development
	a(href="humboldt-real-estate.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507238161/humboldt-real-estate-services.jpg" class="" alt="Humboldt Real Estate Dervices" width="" height="")
			figcaption
				h6.ih-fade|Humboldt Real Estate Services
				p|Website Design &amp; Development
	a(href="ideal-positions.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507238647/ideal-positions_qfxa8r.jpg" class="" alt="Ideal Positions" width="" height="")
			figcaption
				h6.ih-fade|Ideal Positions
				p|Website Design &amp; Development
	a(href="mclaughlin.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507236947/mclaughlin_jwdtql.jpg" class="" alt="McLaughlin Bankruptcy" width="" height="")
			figcaption
				h6.ih-fade|McLaughlin Bankruptcy
				p|Website Design &amp; Development
	a(href="own-santa-barbara.html")
		figure.imghvr-fade
			img(data-src="http://res.cloudinary.com/grault/image/upload/c_scale,w_0.5/v1507237662/own-santa-barbara.jpg" class="" alt="Own Santa Barbara" width="" height="")
			figcaption
				h6.ih-fade|Own Santa Barbara
				p|Website Design &amp; Development