.contact-duo
    .duo
        div.box-shadow
            h3.uk-heading-line
                span
                    |Our Location
            a(href="https://goo.gl/maps/w4byFcsn1AT2" target="_blank")
                img(data-src="img/small/map.png" class="lazyload blur-up")
        div.box-shadow
            h3.uk-heading-line
                span
                    |Contact Details
            .uk-card.uk-card-default.uk-card-body(class='uk-width-1@m')
                h3.uk-card-title Hours
                ul.uk-list.uk-list-striped
                    li
                        span(uk-icon='clock')
                        <b>&nbsp;Monday:</b> Closed
                    li
                        span(uk-icon='clock')
                        <b>&nbsp;Tuesday - Sunday:</b> 11:30 - 20:45
            .uk-card.uk-card-default.uk-card-body(class='uk-width-1@m')
                h3.uk-card-title Phone
                p
                    span(uk-icon='receiver')
                    <b>&nbsp;Tel:</b> 707 445 4735
            .uk-card.uk-card-default.uk-card-body(class='uk-width-1@m')
                h3.uk-card-title Address
                p
                    span(uk-icon='location')
                    |&nbsp;307 4th St, Eureka, CA 95501