//- The template for displaying the footer
//- Contains the closing of the #content div and all content after
footer#colophon.site-footer(role="contentinfo")
    .site-info
        span.site-title
            a(href="http://10.10.17.141:8888/local/Juliet/wordpress/" rel="home")|Juliet
        a(href="https://wordpress.org/")|Proudly powered by WordPress
    script(src="js/app.js")
//.site-footer