//- The template for displaying the footer
//- Contains the closing of the #content div and all content after
footer#colophon.site-footer(role="contentinfo")
    a#back-to-top(href='', uk-totop='')
    .site-info
        span.site-title
            a(href="http://10.10.17.141:8888/local/Juliet/wordpress/" rel="home")|Copyright 2018 Pho Thiên Long
        a(href="https://idealpositions.com" target="_blank")
            |Site made in Humboldt County
            img.redwood(data-src='img/branding/redwoods-white.svg', alt='Redwoods', scale='1', width='20' class="lazyload")
            |by Ideal Positions
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js')
    script(src='js/app.js')
//.site-footer