header#masthead.site-header(role-banner)
    .site-header-main
        .site-branding
            <a href="http://10.10.17.141:8888/local/Juliet/wordpress/" class="custom-logo-link" rel="home" itemprop="url"><img src="http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1.png" class="custom-logo" alt="Juliet" itemprop="logo" srcset="http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1.png 240w, http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1-150x150.png 150w" sizes="(max-width: 240px) 85vw, 240px" width="240" height="240"></a>
            h1.site-title
                a(href="#")|Juliet
            p.site-description|Just another WordPress site
        //site-branding
        #site-header-menu.site-header-menu
            nav#site-navigation.main-navigation(role="navigation" aria-label="Primary Menu")
                .menu-primary-menu-container
                    ul#menu-primary-menu.primary-menu
                        li#menu-item-1697.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1697
                            a(href="#")|Front Page
        //site-header-menu.site-header-menu
    //site-header-main