header.ip-header
    #ip-logo
        a(href='#0')
            img(src='img/branding/logo.png', alt='Logo')
    nav.ip-main-nav
        ul
            // inser more links here
            li
                a(href='#0') Home
            li
                a(href='#0') About
            li
                a(href='#0') Pricing
            li
                a(href='#0') Gallery
            li
                a(href='#0') Contact
    // ip-main-nav