header#masthead.site-header(role-banner)
    .site-header-main
        .site-branding
            <a href="index.html" class="custom-logo-link" rel="home" itemprop="url"><img src="http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1.png" class="custom-logo" alt="Juliet" itemprop="logo" srcset="http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1.png 240w, http://10.10.17.141:8888/local/Juliet/wordpress/wp-content/uploads/2018/02/cropped-juliet-logo-1-150x150.png 150w" sizes="(max-width: 240px) 85vw, 240px" width="240" height="240"></a>
            h1.site-title
                a(href="index.html")|Juliet
            p.site-description|Just another WordPress site
        //site-branding
        button#menu-toggle.menu-toggle|Menu
        #site-header-menu.site-header-menu
            nav#site-navigation.main-navigation(role="navigation" aria-label="Primary Menu")
                .menu-primary-menu-container
                    ul#menu-primary-menu.primary-menu
                        li#menu-item-1697.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1697
                            a(href="index.html")|Front Page
                        li#menu-item-1763.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1763
                            a(href="blog.html")|Blog
                        li#menu-item-1763.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1763
                            a(href="about.html")|About The Tests
                        li#menu-item-1763.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1763
                            a(href="contact.html")|Contact
        //site-header-menu
    //site-header-main