header.ip-header
    #ip-logo
        a(href='index.html')
            img(src='img/branding/logo.png', alt='Logo')
    nav.ip-main-nav
        ul
            // inser more links here
            li
                a(href='index.html') Home
            li
                a(href='about-us.html') About Us
            li
                a(href='commercial-painting.html') Commercial Painting
            li
                a(href='industrial-painting.html') Industrial Painting
            li
                a(href='parking-lots.html') Parking Lots
            li
                a(href='contact.html') Contact
    // ip-main-nav