.ip-fixed-bg.ip-bg-1
    h1 PAINTING FLORIDA COAST TO COAST SINCE 1988
.trio-nogap
    div(class="uk-card uk-card-default uk-card-body")
        h3.uk-card-title|Default
        p|Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div(class="uk-card uk-card-default uk-card-body")
        h3.uk-card-title|Default
        p|Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div(class="uk-card uk-card-default uk-card-body")
        h3.uk-card-title|Default
        p|Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.