.site-hero
    .uk-position-relative.uk-visible-toggle.uk-light(uk-slider='center: true')
        ul.uk-slider-items
            li.uk-width-1
                .uk-panel
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/full/image-1.jpg', alt='Dish A' class="lazyload")
                    .uk-position-center.uk-panel
                        h1 Featured Dish A
            li.uk-width-1
                .uk-panel
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/full/image-2.jpg', alt='Dish B' class="lazyload")
                    .uk-position-center.uk-panel
                        h1 Featured Dish B
            li.uk-width-1
                .uk-panel
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/full/image-3.jpg', alt='Dish C' class="lazyload")
                    .uk-position-center.uk-panel
                        h1 Featured Dish C
        a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
        a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
.secondary-nav.quad
    div
        .uk-inline
            a(href="about.html")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/medium/image-3.jpg', alt='About Us' class="lazyload" width="960" height="540")
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 About Us
    div
        .uk-inline
            a(href="menu.html")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/medium/image-1.jpg', alt='The Menu' class="lazyload" width="960" height="540")
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 The Menu
    div
        .uk-inline
            a(href="location.html")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/medium/image-2.jpg', alt='The Location' class="lazyload" width="960" height="540")
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 The Location
    div
        .uk-inline
            a(href="contact.html ")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/medium/image-3.jpg', alt='Contact Us' class="lazyload" width="960" height="540")
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 Contact Us
