.ip-fixed-bg.ip-fixed-short
    .copy
        h1| Industrial Painting
.full
    .features-commercial(uk-parallax="bgy: -50")
        div
            .ip-container
                h2|RKL Is Your Trusted Painting Contractor
                p|A painting contractor completely qualified to handle working with one of your biggest investments can be hard to find, but you can rest assured RKL Painting, Inc. has the background and dedication you’ve been searching for.
                #my-id(uk-modal)
                    .uk-modal-dialog.uk-modal-body
                        h2|Get Your Free Quote
                        form
                            fieldset.uk-fieldset(uk-grid='')
                                legend.uk-legend Tell us about your Project
                                .uk-margin.uk-width-1-2
                                    input.uk-input(type='text', placeholder='Name')
                                .uk-margin.uk-width-1-2
                                    input.uk-input(type='text', placeholder='Email')
                                .uk-margin.uk-width-1-2
                                    input.uk-input(type='text', placeholder='Subject')
                                .uk-margin.uk-width-1-2
                                    input.uk-input(type='text', placeholder='Phone Number')
                                .uk-margin.uk-width-1-1
                                    textarea.uk-textarea(rows='5', placeholder='Your Message')
                                .uk-margin.uk-width-1-1
                                    a.uk-button.uk-button-secondary(href='#') Submit
                button(uk-toggle="target: #my-id" type="button")|Get a Free Estimate
    .section-1
        .ip-container
            <h2>Completed Projects</h2>
            div(class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade")
                div
                    a.uk-inline(href='img/full/image-1.jpg', caption='Caption 1')
                        img(src='img/small/image-1.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-2.jpg', caption='Caption 2')
                        img(src='img/small/image-2.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-3.jpg', caption='Caption 3')
                        img(src='img/small/image-3.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-4.jpg', caption='Caption 1')
                        img(src='img/small/image-4.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-5.jpg', caption='Caption 2')
                        img(src='img/small/image-5.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-6.jpg', caption='Caption 3')
                        img(src='img/small/image-6.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-7.jpg', caption='Caption 2')
                        img(src='img/small/image-7.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-8.jpg', caption='Caption 3')
                        img(src='img/small/image-8.jpg', alt='')
                div
                    a.uk-inline(href='img/full/image-1.jpg', caption='Caption 3')
                        img(src='img/small/image-1.jpg', alt='')
