.ip-fixed-bg.ip-bg-1
    .copy
        h1|Serving Central Florida and Surrounding Areas
        <h2>Live Operators - Free Estimates - Fully Insured</h2>
        .cta
            a(class="uk-button uk-button-default uk-button-secondary" href="teL:+1 407 830 4611")
                span(class="uk-margin-small-right" uk-icon="receiver")
                |Call Now: (407) 830 4611
            a(class="uk-button uk-button-default uk-button-secondary" href="#contact-form" uk-scroll)
                span(class="uk-margin-small-right" uk-icon="mail")
                |Email Us for a Free Estimate
    //h4|Live Operators - Free Estimates - Fully Insured
.duo-nogap.featurettes
    div(class="uk-card uk-card-default uk-card-body gradient1")
        h3.uk-card-title|Commercial Painting
        p|Hotels, Resorts, Airports, Restaurants Shopping Plazas, Office Buildings and Educational Facilities
        p
            a.uk-button.uk-button-default.uk-button-secondary(href="commercial-painting.html")
                span(class="uk-margin-small-right" uk-icon="info")
                |Learn More
    div(class="uk-card uk-card-default uk-card-body gradient2")
        h3.uk-card-title|Industrial Painting
        p|Interior Painting, Structured Steel and Vinyl Covered Ceilings, Concrete, Steel, Metal Siding, Tanks, Waterproof Coatings
        p
            a.uk-button.uk-button-default.uk-button-secondary(href="industrial-painting.html")
                span(class="uk-margin-small-right" uk-icon="info")
                |Learn More
.full
    .features-home(uk-parallax="bgy: -100")
        div
            h2|RKL Is Your Trusted Painting Contractor
            p|A painting contractor completely qualified to handle working with one of your biggest investments can be hard to find, but you can rest assured RKL Painting, Inc. has the background and dedication you’ve been searching for.
            div.trio.icon-points
                div
                    img(src="img/branding/clock.png")
                    p|Flexible Scheduling Options
                div
                    img(src="img/branding/bonded.png")
                    p|Fully Insured and Bonded
                div
                    img(src="img/branding/20+.png")
                    p|20+ Years of Experience
                div
                    img(src="img/branding/estimates.png")
                    p|Free Estimates
                div
                    img(src="img/branding/operator.png")
                    p|Live Operators
                div
                    img(src="img/branding/palm.png")
                    p|Serving all of Florida