main#main.site-main
    article
        header.uk-text-center
            h2.uk-heading-line.uk-text-center
                span
                    |Our Menu
            h4|Categories
        .content
            .quad
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="menu.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-1.jpg',  class="lazyload" width="480" height="270" alt="Appetizers")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Appetizers / Khai Vis
                        a.uk-button.uk-button-default(href='menu.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="salads.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-2.jpg',  class="lazyload" width="480" height="270" alt="Salad")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Salad
                        a.uk-button.uk-button-default(href='salads.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="addons.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-3.jpg',  class="lazyload" width="480" height="270" alt="Add Ons")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Add Ons
                        a.uk-button.uk-button-default(href='addons.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="beef-noodle-soup.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-4.jpg',  class="lazyload" width="480" height="270" alt="Beef Noodle Soup")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Beef Noodle Soup/Pho
                        a.uk-button.uk-button-default(href='beef-noodle-soup.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="chicken-noodle-soup.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-5.jpg',  class="lazyload" width="480" height="270" alt="Chicken Noodle Soup")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Chicken Noodle Soup / Pho Ga
                        a.uk-button.uk-button-default(href='chicken-noodle-soup.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="seafood-noodle-soup.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-6.jpg',  class="lazyload" width="480" height="270" alt="Seafood Noodle Soup")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Seafood Noodle Soup / Hu Tiu Mi
                        a.uk-button.uk-button-default(href='seafood-noodle-soup.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="rice-plates.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-7.jpg',  class="lazyload" width="480" height="270" alt="Rice Plates")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Rice Plate / Com
                        a.uk-button.uk-button-default(href='rice-plates.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="vermicelli.html")                    
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-8.jpg',  class="lazyload" width="480" height="270" alt="Vermicelli Noodle Dish")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Vermicelli / Bun
                        a.uk-button.uk-button-default(href='vermicelli.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="vegetarian.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-9.jpg',  class="lazyload" width="480" height="270" alt="Vegetarian")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Vegetarian / Do Chay
                        a.uk-button.uk-button-default(href='vegetarian.html') View
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="menu.html" width="480" height="270")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-10.jpg',  class="lazyload" width="480" height="270" alt="Soup")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Soups
                        p
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="menu.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-11.jpg',  class="lazyload" width="480" height="270" alt="Curry")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Curries
                        p
                .uk-card.uk-card-default
                    .uk-card-media-top
                        a(href="kids-menu.html")
                            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='img/small/image-12.jpg',  class="lazyload" width="480" height="270" alt="Kids Menu Item")
                    .uk-card-body.uk-text-center
                        h3.uk-card-title Kids Menu
                        a.uk-button.uk-button-default(href='kids-menu.html') View