main#main.site-main
    article.type-page
        header.entry-header
            h1.entry-title|About
        .entry-content
            p| This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.
            <div class="trio">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="img/medium/image-0.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="img/medium/image-0.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="img/medium/image-0.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
    #comments.comments-area
        #respond.comment-respond
            h2#reply-title.comment-reply-title
                | Leave a Reply 
                small
                    a#cancel-comment-reply-link(rel='nofollow', href='#', style='display:none;') Cancel reply
            form#commentform.comment-form(action='#', method='post', novalidate='')
                p.comment-notes
                    span#email-notes Your email address will not be published.
                    |  Required fields are marked 
                    span.required *
                p.comment-form-comment
                    label(for='comment') Comment
                    textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', aria-required='true', required='required')
                p.comment-form-author
                    label(for='author')
                        | Name 
                        span.required *
                    input#author(name='author', value='', size='30', maxlength='245', aria-required='true', required='required', type='text')
                p.comment-form-email
                    label(for='email')
                        | Email 
                        span.required *
                    input#email(name='email', value='', size='30', maxlength='100', aria-describedby='email-notes', aria-required='true', required='required', type='email')
                p.comment-form-url
                    label(for='url') Website
                    input#url(name='url', value='', size='30', maxlength='200', type='url')
                p.form-submit
                    input#submit.submit(name='submit', value='Post Comment', type='submit')
                    input#comment_post_ID(name='comment_post_ID', value='701', type='hidden')
                    input#comment_parent(name='comment_parent', value='0', type='hidden')
        // #respond
aside#content-bottom-widgets.content-bottom-widgets(role="complementary")
    .widget-area
        section#text-2.widget.widget_text
            h2.widget-title|Content Bottom 1
            .textwidget
                p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .widget-area
        section#text-2.widget.widget_text
            h2.widget-title|Content Bottom 1
            .textwidget
                p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.