main#main.site-main
    aside.tertiary-navigation
        h4|Categories
        ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
            li
                a(href='menu.html') Appetizers / Khai Vi
            li
                a(href='salads.html') Salads
            li
                a(href='addons.html') Add Ons
            li
                a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
            li
                a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
            li.uk-active
                a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
            li
                a(href='rice-plates.html') Rice Plates / Cam
            li
                a(href='vermicelli.html') Vermicelli / Bun
            li
                a(href='vegetarian.html') Vegetarian / Do Chay
            li
                a(href='thai-style.html') Thai Style Specials
            li
                a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
            li
                a(href='beverages.html') Beverages / Gai Khat
            li
                a(href='smoothies.html') Smoothies / Sinh To Tran Chau
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Seafood Noodle Soup
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|M1
                                h5.uk-card-title.uk-margin-remove-bottom House Special Combo Egg Noodle Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Prawn, fish cake, fish ball, squid & chicken
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|M2
                                h5.uk-card-title.uk-margin-remove-bottom Egg Noodle Seafood Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Mi Hai San - Prawn, fish cake, fish ball & squid
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|M3
                                h5.uk-card-title.uk-margin-remove-bottom House Special Combo Rice Noodle Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Prawn, fish cake, fish ball, squid & chicken
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|M4
                                h5.uk-card-title.uk-margin-remove-bottom Rice Noodle Seafood Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Hu Tiu Hai San - Prawn, fish cake, fish ball & squid
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|M5
                                h5.uk-card-title.uk-margin-remove-bottom Flat Rice Noodle Seafood Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Prawn, fish cake, fish ball, & squid