main#main.site-main
    article.type-page
        header.entry-header
            h1.entry-title|Contact
        .entry-content
            p| This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.
            h2 Email Us
            form
                fieldset.uk-fieldset
                    legend.uk-legend Legend
                    .uk-margin
                    input.uk-input(type='text', placeholder='Input')
                    .uk-margin
                    select.uk-select
                        option Option 01
                        option Option 02
                    .uk-margin
                    textarea.uk-textarea(rows='5', placeholder='Textarea')
                    .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
                    <p uk-margin>
                    <a class="uk-button uk-button-default" href="#">Link</a>
                    <button class="uk-button uk-button-default">Button</button>
                    <button class="uk-button uk-button-default" disabled>Disabled</button>
                    </p>