main#main.site-main
    aside.tertiary-navigation
        div.basic-list
            h4|Categories
            ul.uk-nav-default.uk-card-small.uk-nav-parent-icon(uk-nav='multiple: true')
                li
                    a(href='menu.html') Appetizers / Khai Vi
                li
                    a(href='salads.html') Salads
                li
                    a(href='addons.html') Add Ons
                li
                    a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
                li
                    a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
                li
                    a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
                li.uk-active
                    a(href='rice-plates.html') Rice Plates / Cam
                li
                    a(href='vermicelli.html') Vermicelli / Bun
                li
                    a(href='vegetarian.html') Vegetarian / Do Chay
                li
                    a(href='thai-style.html') Thai Style Specials
                li
                    a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
                li
                    a(href='beverages.html') Beverages / Gai Khat
                li
                    a(href='smoothies.html') Smoothies / Sinh To Tran Chau
        div.mini-grid
            h4|Categories
            .six
                div
                    a(href="menu.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Appetizers
                div
                    a(href="salads.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Salads
                div
                    a(href="addons.html")
                        .uk-inline
                            img(src='img/small/image-3.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Add Ons
                div
                    a(href="beef-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-4.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beef Noodle Soup
                div
                    a(href="chicken-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-5.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Chicken Noodle Soup
                div
                    a(href="seafood-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-6.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Seafood Noodle Soup
                div
                    a(href="rice-plates.html" class="active")
                        .uk-inline
                            img(src='img/small/image-7.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Rice Plates
                div
                    a(href="vermicelli.html")
                        .uk-inline
                            img(src='img/small/image-8.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vermicelli
                div
                    a(href="vegetarian.html")
                        .uk-inline
                            img(src='img/small/image-9.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vegetarian
                div
                    a(href="thai-style.html")
                        .uk-inline
                            img(src='img/small/image-10.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Thai Stye
                div
                    a(href="kids-menu.html")
                        .uk-inline
                            img(src='img/small/image-11.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Kids Menu
                div
                    a(href="beverages.html")
                        .uk-inline
                            img(src='img/small/image-12.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beverages
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Rice Plates
            p|All Rice Plates come w/ cucumber salad and a small bowl of beef "pho" broth served w/ sweet chilli sauce. 
            p|Add $3.00 for a small bowl of coconut milk soup.
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C12
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Prawns
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.95
                    .uk-card-body
                        p|ComTom Nuong
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C13
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Prawns, BBQ Pork & Eggroll
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$11.25
                    .uk-card-body
                        p|Com Tom, Heo Nuong, Cha Gio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C14
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Prawns & BBQ Pork
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Com Tom, Heo Nuong
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C15
                                h5.uk-card-title.uk-margin-remove-bottom BBQ Pork
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.95
                    .uk-card-body
                        p|Com Thit Heo Nuong
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C16
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Prawn, BBQ Beef & Eggroll
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$11.25
                    .uk-card-body
                        p|Com Tom, Bo Nuong, Cha Gio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C17
                                h5.uk-card-title.uk-margin-remove-bottom BBQ Beef & Egg Rolls
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Com Bo Nuong, Cha Gio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C18
                                h5.uk-card-title.uk-margin-remove-bottom BBQ Beef
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.25
                    .uk-card-body
                        p|Com Bo Nuong 
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C19
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Prawns, Lemongrass Chicken & Eggrolls
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.95
                    .uk-card-body
                        p|Com Tom, Ga Nuong Xa, Cha Gio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C20
                                h5.uk-card-title.uk-margin-remove-bottom Lemongrass Chicken & Eggroll
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Bun Ga Nuong Xa, Cha Gio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C21
                                h5.uk-card-title.uk-margin-remove-bottom Lemongrass Chicken
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.25
                    .uk-card-body
                        p|Bun Ga Nuong Xa
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C22
                                h5.uk-card-title.uk-margin-remove-bottom Traditional Vietnamese Shrimp Fried Rice
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C23
                                h5.uk-card-title.uk-margin-remove-bottom BBQ Pork, Egg Rolls, Prawns Over Fried Egg
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$11.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C24
                                h5.uk-card-title.uk-margin-remove-bottom BBQ Beef, Egg Rolls, Prawns Over Fried Egg
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.25
                    .uk-card-body
                        p|Bun Ga Nuong Xa
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C25
                                h5.uk-card-title.uk-margin-remove-bottom Rice Plate Combo Stir Fry - Com Xao
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.95
                    .uk-card-body
                        p|Choice of Chicken, Pork, Beef, OR Seafood ($11.25)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C26
                                h5.uk-card-title.uk-margin-remove-bottom Combo Stir Fry W/ Egg Noodle - Mi Xao Dac Biet
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$11.95
                    .uk-card-body
                        p|Choice of Chicken, Pork, Beef, OR Seafood ($11.25) &amp; Choice of Crispy or Soft Noodles
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C27
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Pork Chop, Prawns, Eggroll & Fried Egg
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.25
                    .uk-card-body
                        p|Bun Ga Nuong Xa
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C28
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Pork Chop 
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Choice of Chicken, Pork, Beef, OR Seafood ($11.25)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C29
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Pork Chop & Fried Egg
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$11.50
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C30
                                h5.uk-card-title.uk-margin-remove-bottom Teriyaki Chicken Over Rice
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Choice of Chicken, Pork, Beef, OR Seafood ($11.25) &amp; Choice of Crispy or Soft Noodles
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C31
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Chicken Satay
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Bun Ga Nuong Xa
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C32
                                h5.uk-card-title.uk-margin-remove-bottom Grilled Beef Satay
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|Choice of Chicken, Pork, Beef, OR Seafood ($11.25)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C33
                                h5.uk-card-title.uk-margin-remove-bottom Teriyaki Beef Over Rice
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$10.50
                    .uk-card-body
                        p|