main#main.site-main
    aside.tertiary-navigation
        div.basic-list
            h4|Categories
            ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
                li
                    a(href='menu.html') Appetizers / Khai Vi
                li.uk-active
                    a(href='salads.html') Salads
                li
                    a(href='addons.html') Add Ons
                li
                    a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
                li
                    a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
                li
                    a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
                li
                    a(href='rice-plates.html') Rice Plates / Cam
                li
                    a(href='vermicelli.html') Vermicelli / Bun
                li
                    a(href='vegetarian.html') Vegetarian / Do Chay
                li
                    a(href='thai-style.html') Thai Style Specials
                li
                    a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
                li
                    a(href='beverages.html') Beverages / Gai Khat
                li
                    a(href='smoothies.html') Smoothies / Sinh To Tran Chau
        div.mini-grid
            h4|Categories
            .six
                div
                    a(href="menu.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Appetizers
                div
                    a(href="salads.html" class="active")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Salads
                div
                    a(href="addons.html")
                        .uk-inline
                            img(src='img/small/image-3.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Add Ons
                div
                    a(href="beef-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-4.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beef Noodle Soup
                div
                    a(href="chicken-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-5.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Chicken Noodle Soup
                div
                    a(href="seafood-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-6.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Seafood Noodle Soup
                div
                    a(href="rice-plates.html")
                        .uk-inline
                            img(src='img/small/image-7.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Rice Plates
                div
                    a(href="vermicelli.html")
                        .uk-inline
                            img(src='img/small/image-8.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vermicelli
                div
                    a(href="vegetarian.html")
                        .uk-inline
                            img(src='img/small/image-9.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vegetarian
                div
                    a(href="thai-style.html")
                        .uk-inline
                            img(src='img/small/image-10.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Thai Stye
                div
                    a(href="kids-menu.html")
                        .uk-inline
                            img(src='img/small/image-11.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Kids Menu
                div
                    a(href="beverages.html")
                        .uk-inline
                            img(src='img/small/image-12.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beverages
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Salads
            div(class="uk-alert-warning" uk-alert)
                p|$0.35 for all To Go Orders
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|T17
                                h5.uk-card-title.uk-margin-remove-bottom Carrot Salad
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Shredded carrots w/ garlic, chilli, green beans, peanuts, tomatoes & shrimp.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|T18
                                h5.uk-card-title.uk-margin-remove-bottom Cucumber Salad
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Shredded cucumber w/ garlic, red onions, peanuts & shrimp.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|T19
                                h5.uk-card-title.uk-margin-remove-bottom Larb
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.95
                    .uk-card-body
                        p|Choice of spicy chicken, pork, or beef salad w/ green onions, lemon dressing, dried chiles, and rice powder.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|T21
                                h5.uk-card-title.uk-margin-remove-bottom Som Tum
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.95
                    .uk-card-body
                        p|Papaya salad mixed w/ prawn, tomatoes, garlic, fresh chiles, green beans & peanuts.