main#main.site-main
    aside.tertiary-navigation
        div.basic-list
            h4|Categories
            ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
                li
                    a(href='menu.html') Appetizers / Khai Vi
                li
                    a(href='salads.html') Salads
                li
                    a(href='addons.html') Add Ons
                li
                    a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
                li
                    a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
                li
                    a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
                li
                    a(href='rice-plates.html') Rice Plates / Cam
                li
                    a(href='vermicelli.html') Vermicelli / Bun
                li
                    a(href='vegetarian.html') Vegetarian / Do Chay
                li
                    a(href='thai-style.html') Thai Style Specials
                li
                    a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
                li.uk-active
                    a(href='beverages.html') Beverages / Gai Khat
                li
                    a(href='smoothies.html') Smoothies / Sinh To Tran Chau
        div.mini-grid
            h4|Categories
            .six
                div
                    a(href="menu.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Appetizers
                div
                    a(href="salads.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Salads
                div
                    a(href="addons.html")
                        .uk-inline
                            img(src='img/small/image-3.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Add Ons
                div
                    a(href="beef-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-4.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beef Noodle Soup
                div
                    a(href="chicken-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-5.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Chicken Noodle Soup
                div
                    a(href="seafood-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-6.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Seafood Noodle Soup
                div
                    a(href="rice-plates.html")
                        .uk-inline
                            img(src='img/small/image-7.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Rice Plates
                div
                    a(href="vermicelli.html")
                        .uk-inline
                            img(src='img/small/image-8.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vermicelli
                div
                    a(href="vegetarian.html")
                        .uk-inline
                            img(src='img/small/image-9.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vegetarian
                div
                    a(href="thai-style.html")
                        .uk-inline
                            img(src='img/small/image-10.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Thai Style
                div
                    a(href="kids-menu.html")
                        .uk-inline
                            img(src='img/small/image-11.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Kids Menu
                div
                    a(href="beverages.html" class="active")
                        .uk-inline
                            img(src='img/small/image-12.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beverages
                
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Beverages / Giai Khat
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B26
                                h5.uk-card-title.uk-margin-remove-bottom Thai Iced Tea - Tra Thai
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B27
                                h5.uk-card-title.uk-margin-remove-bottom Black Drip Expresso (HOT OR ICED)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p| (HOT OR ICED)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B28
                                h5.uk-card-title.uk-margin-remove-bottom Fresh Drip Espresso w/condensed milk(HOT OR ICED)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|with Condensed Milk (HOT OR ICED)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B29
                                h5.uk-card-title.uk-margin-remove-bottom Fresh Lemonade
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.50
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B30
                                h5.uk-card-title.uk-margin-remove-bottom Fresh Lemonade w/Club Soda
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B31
                                h5.uk-card-title.uk-margin-remove-bottom Coconut Juice
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B32
                                h5.uk-card-title.uk-margin-remove-bottom Soda
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|Coke, Pepsi, Root Beer, 7UP, Orange Soda, Diet Coke and Diet Pepsi
            h3|Beer & Wine
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B35
                                h5.uk-card-title.uk-margin-remove-bottom Budweiser
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B36
                                h5.uk-card-title.uk-margin-remove-bottom Coor's Light
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B37
                                h5.uk-card-title.uk-margin-remove-bottom Corona
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B38
                                h5.uk-card-title.uk-margin-remove-bottom Heineken
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B39
                                h5.uk-card-title.uk-margin-remove-bottom Tsing Tao
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B40
                                h5.uk-card-title.uk-margin-remove-bottom Ell River IPA
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B41
                                h5.uk-card-title.uk-margin-remove-bottom Downtown Brown
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B42
                                h5.uk-card-title.uk-margin-remove-bottom Great White
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B43
                                h5.uk-card-title.uk-margin-remove-bottom Steel Head
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B44
                                h5.uk-card-title.uk-margin-remove-bottom Sapporo
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
            h3|Wine: Chardonnay and Cabernet
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                h5.uk-card-title.uk-margin-remove-bottom Bottle
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$25.00
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                h5.uk-card-title.uk-margin-remove-bottom Glass
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.00