main#main.site-main
    aside.tertiary-navigation
        h4|Categories
        ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
            li
                a(href='menu.html') Appetizers / Khai Vi
            li
                a(href='salads.html') Salads
            li
                a(href='addons.html') Add Ons
            li
                a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
            li
                a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
            li
                a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
            li
                a(href='rice-plates.html') Rice Plates / Cam
            li
                a(href='vermicelli.html') Vermicelli / Bun
            li
                a(href='vegetarian.html') Vegetarian / Do Chay
            li
                a(href='thai-style.html') Thai Style Specials
            li
                a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
            li
                a(href='beverages.html') Beverages / Gai Khat
            li.uk-active
                a(href='smoothies.html') Smoothies / Sinh To Tran Chau
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Smoothies / Sinh To Tran Chau
            p|Add Boba for and estra $1.00
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S01
                                h5.uk-card-title.uk-margin-remove-bottom Mocha Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S02
                                h5.uk-card-title.uk-margin-remove-bottom Strawberry Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S03
                                h5.uk-card-title.uk-margin-remove-bottom Avocado Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S04
                                h5.uk-card-title.uk-margin-remove-bottom Mango Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S05
                                h5.uk-card-title.uk-margin-remove-bottom Honeydew Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S06
                                h5.uk-card-title.uk-margin-remove-bottom Coconut Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S07
                                h5.uk-card-title.uk-margin-remove-bottom Taro Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|S08
                                h5.uk-card-title.uk-margin-remove-bottom Papaya Shake
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.95
                    .uk-card-body
                        p|