main#main.site-main
    aside(class="tertiary-navigation")
        div.basic-list
            h4|Categories
            ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
                li.uk-active
                    a(href='menu.html') Appetizers / Khai Vi
                li
                    a(href='salads.html') Salads
                li
                    a(href='addons.html') Add Ons
                li
                    a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
                li
                    a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
                li
                    a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
                li
                    a(href='rice-plates.html') Rice Plates / Cam
                li
                    a(href='vermicelli.html') Vermicelli / Bun
                li
                    a(href='vegetarian.html') Vegetarian / Do Chay
                li
                    a(href='thai-style.html') Thai Style Specials
                li
                    a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
                li
                    a(href='beverages.html') Beverages / Gai Khat
                li
                    a(href='smoothies.html') Smoothies / Sinh To Tran Chau
        div.mini-grid
            h4|Categories
            .six
                div
                    a(href="menu.html" class="active")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Appetizers
                div
                    a(href="salads.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Salads
                div
                    a(href="addons.html")
                        .uk-inline
                            img(src='img/small/image-3.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Add Ons
                div
                    a(href="beef-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-4.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beef Noodle Soup
                div
                    a(href="chicken-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-5.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Chicken Noodle Soup
                div
                    a(href="seafood-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-6.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Seafood Noodle Soup
                div
                    a(href="rice-plates.html")
                        .uk-inline
                            img(src='img/small/image-7.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Rice Plates
                div
                    a(href="vermicelli.html")
                        .uk-inline
                            img(src='img/small/image-8.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vermicelli
                div
                    a(href="vegetarian.html")
                        .uk-inline
                            img(src='img/small/image-9.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vegetarian
                div
                    a(href="thai-style.html")
                        .uk-inline
                            img(src='img/small/image-10.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Thai Stye
                div
                    a(href="kids-menu.html")
                        .uk-inline
                            img(src='img/small/image-11.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Kids Menu
                div
                    a(href="beverages.html")
                        .uk-inline
                            img(src='img/small/image-12.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beverages
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Appetizers
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A1
                                h5.uk-card-title.uk-margin-remove-bottom Crispy Eggrolls - Cha Gio (4 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.95
                    .uk-card-body
                        p|Fried eggrolls filled w/ pork, shrimp, clear noodles, carrots, and cabbage wrapped in rice paper and deep-fried. Served w/ sweet chilli sauce. (Side of Lettuce Wrap - $2.00)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A2
                                h5.uk-card-title.uk-margin-remove-bottom|Fresh Spring Rolls - Goi Cuon (3 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.50
                    .uk-card-body
                        p|Soft paper wrap with shrimp, vermicelli noodles, and lettuce. Served w/ sweet chilli sauce or peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A3
                                h5.uk-card-title.uk-margin-remove-bottom|BBQ Pork Spring Rolls - Goi Cuon (3 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.50
                    .uk-card-body
                        p|Soft paper wrap with BBQ pork, vermicelli noodles, and lettuce. Served w/ sweet chilli sauce or peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A4
                                h5.uk-card-title.uk-margin-remove-bottom|Lemongrass Chicken Spring Rolls - Goi Cuon (3 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.50
                    .uk-card-body
                        p|Soft paper wrap with lemongrass chicken, vermicelli noodles, and lettuce. Served w/ sweet chilli sauce or peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A5
                                h5.uk-card-title.uk-margin-remove-bottom|Coconut Prawns
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Prawns in batter w/ coconut flakes, deep fried & served w/ coconut curry dipping sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A6
                                h5.uk-card-title.uk-margin-remove-bottom|Satay Grilled Chicken - Ga Nuong State (4 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Grilled chicken on skewers, marinated lemongrass, served w/ cucumber salad and peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A7
                                h5.uk-card-title.uk-margin-remove-bottom|BBQ Beef Spring Rolls - Goi Cuon (3 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.50
                    .uk-card-body
                        p|Soft paper wrap with shrimp, BBQ pork, BBQ beef, lemongrass chicken in vermicelli noodles with lettuce. Served w/ sweet chilli sauce or peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A8
                                h5.uk-card-title.uk-margin-remove-bottom|Special Combo Spring Rolls - Goi Cuon Thap Cam (4 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Soft paper wrap with shrimp, BBQ pork, BBQ beef, lemongrass chicken in vermicelli noodles with lettuce. Served w/ sweet chilli sauce or peanut sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A9
                                h5.uk-card-title.uk-margin-remove-bottom|Mango Salad
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Mango, bell pepper, carrot, basil & prawns mix w/ house special sauce.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A10
                                h5.uk-card-title.uk-margin-remove-bottom|Crispy Vegetarian Eggrolls (4 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$7.95
                    .uk-card-body
                        p|Deep-fried vegetarian eggrolls w/ clear noodles, carrots, corn, cabbage, and onions.
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|A11
                                h5.uk-card-title.uk-margin-remove-bottom|Beef Satay (4 PCS)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Grilled beef on skewers served w/ cucumber salad and peanut sauce.