main#main.site-main
    aside.tertiary-navigation
        h4|Categories
        ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
            li
                a(href='menu.html') Appetizers / Khai Vi
            li
                a(href='salads.html') Salads
            li
                a(href='addons.html') Add Ons
            li
                a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
            li
                a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
            li
                a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
            li
                a(href='rice-plates.html') Rice Plates / Cam
            li
                a(href='vermicelli.html') Vermicelli / Bun
            li
                a(href='vegetarian.html') Vegetarian / Do Chay
            li
                a(href='thai-style.html') Thai Style Specials
            li
                a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
            li.uk-active
                a(href='beverages.html') Beverages / Gai Khat
            li
                a(href='smoothies.html') Smoothies / Sinh To Tran Chau
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Beverages / Giai Khat
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B26
                                h5.uk-card-title.uk-margin-remove-bottom Thai Iced Tea - Tra Thai
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B27
                                h5.uk-card-title.uk-margin-remove-bottom Black Drip Expresso
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p| (HOT OR ICED)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B28
                                h5.uk-card-title.uk-margin-remove-bottom Fresh Drip Espresso
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|with Condensed Milk (HOT OR ICED)
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B26
                                h5.uk-card-title.uk-margin-remove-bottom Thai Iced Tea - Tra Thai
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B27
                                h5.uk-card-title.uk-margin-remove-bottom Black Drip Expresso (HOT OR ICED)
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|B28
                                h5.uk-card-title.uk-margin-remove-bottom Fresh Drip Espresso
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$3.75
                    .uk-card-body
                        p|with Condensed Milk (HOT OR ICED)