main#main.site-main
    aside.tertiary-navigation
        h4|Categories
        ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
            li
                a(href='menu.html') Appetizers / Khai Vi
            li
                a(href='salads.html') Salads
            li
                a(href='addons.html') Add Ons
            li
                a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
            li
                a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
            li
                a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
            li
                a(href='rice-plates.html') Rice Plates / Cam
            li
                a(href='vermicelli.html') Vermicelli / Bun
            li
                a(href='vegetarian.html') Vegetarian / Do Chay
            li
                a(href='thai-style.html') Thai Style Specials
            li.uk-active
                a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
            li
                a(href='beverages.html') Beverages / Gai Khat
            li
                a(href='smoothies.html') Smoothies / Sinh To Tran Chau
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Kids Menu
        .content
            .trio
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|T17
                                h5.uk-card-title.uk-margin-remove-bottom Carrot Salad
                                p.uk-text-meta.uk-margin-remove-top
                                    i|$8.50
                    .uk-card-body
                        p|Shredded carrots w/ garlic, chilli, green beans, peanuts, tomatoes & shrimp.