main#main.site-main
    aside.tertiary-navigation
        h4|Categories
        ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
            li
                a(href='menu.html') Appetizers / Khai Vi
            li
                a(href='salads.html') Salads
            li
                a(href='addons.html') Add Ons
            li
                a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
            li.uk-active
                a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
            li
                a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
            li
                a(href='rice-plates.html') Rice Plates / Cam
            li
                a(href='vermicelli.html') Vermicelli / Bun
            li
                a(href='vegetarian.html') Vegetarian / Do Chay
            li
                a(href='thai-style.html') Thai Style Specials
            li
                a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
            li
                a(href='beverages.html') Beverages / Gai Khat
            li
                a(href='smoothies.html') Smoothies / Sinh To Tran Chau
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Chicken Noodle Soup
        .content
            .trio
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C1
                                h5.uk-card-title.uk-margin-remove-bottom Rice Noodle Chicken Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Rice Noodle Chicken Soup, Pho Ga
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C2
                                h5.uk-card-title.uk-margin-remove-bottom Clear Noodle Chicken Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Clear Noodle Chicken Soup, Mien Ga
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C3
                                h5.uk-card-title.uk-margin-remove-bottom Vermicelli Noodle Chicken Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Vermicelli Noodle Chicken Soup, Bun Ga
                .uk-card.uk-card-default.uk-card-small
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|C4
                                h5.uk-card-title.uk-margin-remove-bottom Flat Noodle Chicken Soup
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Flat Noodle Chicken Soup, Pho Ga