main#main.site-main
    aside.tertiary-navigation
        div.basic-list
            h4|Categories
            ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
                li
                    a(href='menu.html') Appetizers / Khai Vi
                li
                    a(href='salads.html') Salads
                li
                    a(href='addons.html') Add Ons
                li.uk-active
                    a(href='beef-noodle-soup.html') Beef Noodle Soup / Phở
                li
                    a(href='chicken-noodle-soup.html') Chicken Noodle Soup / Phở Ga
                li
                    a(href='seafood-noodle-soup.html') Seafood Noodle / Hu Tiu Mi
                li
                    a(href='rice-plates.html') Rice Plates / Cam
                li
                    a(href='vermicelli.html') Vermicelli / Bun
                li
                    a(href='vegetarian.html') Vegetarian / Do Chay
                li
                    a(href='thai-style.html') Thai Style Specials
                li
                    a(href='kids-menu.html') Kids Menu: For 10 Years & Younger
                li
                    a(href='beverages.html') Beverages / Gai Khat
                li
                    a(href='smoothies.html') Smoothies / Sinh To Tran Chau
        div.mini-grid
            h4|Categories
            .six
                div
                    a(href="menu.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Appetizers
                div
                    a(href="salads.html")
                        .uk-inline
                            img(src='img/small/image-1.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Salads
                div
                    a(href="addons.html")
                        .uk-inline
                            img(src='img/small/image-3.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Add Ons
                div
                    a(href="beef-noodle-soup.html" class="active")
                        .uk-inline
                            img(src='img/small/image-4.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beef Noodle Soup
                div
                    a(href="chicken-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-5.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Chicken Noodle Soup
                div
                    a(href="seafood-noodle-soup.html")
                        .uk-inline
                            img(src='img/small/image-6.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Seafood Noodle Soup
                div
                    a(href="rice-plates.html")
                        .uk-inline
                            img(src='img/small/image-7.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Rice Plates
                div
                    a(href="vermicelli.html")
                        .uk-inline
                            img(src='img/small/image-8.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vermicelli
                div
                    a(href="vegetarian.html")
                        .uk-inline
                            img(src='img/small/image-9.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Vegetarian
                div
                    a(href="thai-style.html")
                        .uk-inline
                            img(src='img/small/image-10.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Thai Stye
                div
                    a(href="kids-menu.html")
                        .uk-inline
                            img(src='img/small/image-11.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Kids Menu
                div
                    a(href="beverages.html")
                        .uk-inline
                            img(src='img/small/image-12.jpg', alt='')
                            .uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                                h6|Beverages
    article.type-page
        header
            h2.uk-heading-line
                span
                    |Beef Noodle Soup
        div(class="uk-alert-warning" uk-alert)
                p|$0.35 for all To Go Orders
        .content
            .trio
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P1
                                h5.uk-card-title.uk-margin-remove-bottom Thien Long House Special - Pho Dac Biet
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Eye round steak, well-done brisket, fat brisket, flank steak, tendon, tripe & meatball
                
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P2
                                h5.uk-card-title.uk-margin-remove-bottom Eye Round Steak, Flank Steak, Fat Brisket, Tendon & Tripe
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, nam, gau, gan, sach
                
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P3
                                h5.uk-card-title.uk-margin-remove-bottom Eye Round Steak, Well Done Brisket, Tendon & Tripe
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, chin, gan, sach
                
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P4
                                h5.uk-card-title.uk-margin-remove-bottom Well Done Brisket, Flank Steak &amp; Fat Brisket
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho chin, nam gau
                
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P5
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak &amp; Well Done Brisket
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, nam

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P6
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak &amp; Tripe
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, sach

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P7
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak &amp; Tendon
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, gan

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P8
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P9
                                h5.uk-card-title.uk-margin-remove-bottom Meatball
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho bo vien

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P10
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak &amp; Meatball
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, bo vien

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P11
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak, Flank Steak &amp; Meatball
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, nam, no vien

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P12
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak &amp; Fat Brisket
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, gau

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P13
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak, Flank Steak &amp; Tripe
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, nam, sach

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P14
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak, Flank Steak &amp; Tendon
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, nam, gan
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P15
                                h5.uk-card-title.uk-margin-remove-bottom Well done Brisket, Flank Steak , Fat Brisket, Tendon & Tripe
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho chin nac, nam, gau, gan, sach
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P16
                                h5.uk-card-title.uk-margin-remove-bottom Eyeround Steak, Well done Brisket & Meatball
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho tai, chin nam, bo vien
                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P17
                                h5.uk-card-title.uk-margin-remove-bottom Well done Brisket, Flank Steak & Meatball
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho chin, nam, bo vien

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P18
                                h5.uk-card-title.uk-margin-remove-bottom "Pho" mixed vegetables and Tofu
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho rau, dau hu

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P19
                                h5.uk-card-title.uk-margin-remove-bottom Pho Prawn
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho Tom

                .uk-card.uk-card-default
                    .uk-card-header
                        .uk-grid-small.uk-flex-middle(uk-grid='')
                            .uk-width-expand
                                .uk-card-badge.uk-label|P20
                                h5.uk-card-title.uk-margin-remove-bottom Roasted Duck Pho
                                p.uk-text-meta.uk-margin-remove-top
                                    i|S: $8.95 L: $9.95 XL: $13.25
                    .uk-card-body
                        p|Pho Vit