.secondary-nav.quad
    div
        a(href="about.html")
            .uk-inline
                img(src='img/full/image-3.jpg', alt='')
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 About Us
    div
        a(href="menu.html")
            .uk-inline
                img(src='img/full/image-1.jpg', alt='')
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 The Menu
    div
        a(href="location.html")
            .uk-inline
                img(src='img/full/image-2.jpg', alt='')
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 The Location
    div
        a(href="contact.html")
            .uk-inline
                img(src='img/full/image-3.jpg', alt='')
                .uk-position-small.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle
                    h4 Contact Us