//- navigation-top.php
	Displays top navigation
button#menu-toggle.menu-toggle Menu
#site-header-menu.site-header-menu
	nav#site-navigation.main-navigation(role='navigation', aria-label='Primary Menu')
		.menu-primary-menu-container
			ul#menu-primary-menu.primary-menu
				li
					a(href="no-sidebar.html" target="_blank")
						span.title|No Sidebar
				li
					a(href='#')
						span.title|Layout 2
				li
					a(href='#')
						span.title|Layout 3