/*--------------------------------------------------------------
Card grid:
--------------------------------------------------------------*/

.cards {
    display:                    grid;
    grid-template-columns:      repeat(2, 1fr);
    grid-gap:                   1em;
    overflow:                   hidden;
}

.double {
    grid-column:                span 2;
    grid-row:                   span 2;
}

.triple {
    grid-column:                span 3;
    grid-row:                   span 3;
}

@media screen and (min-width: 80em) {
    .cards {
        grid-template-columns:  repeat(4, 1fr);
    }
}