/* ==========================================================================
LAYOUT PROPERTIES INCLUDES THE FOLLOWING RULES:
1. Position
2. Float
3. Clear
4. Display
5. Media Queries
========================================================================== */

.site-inner{
    display:                                grid;
    grid-template-columns:                  repeat(12, 1fr);
	max-width: 								1200px;
	margin: 								0 auto;
}

.site-header,
.site-content,
.site-footer,
.site-hero,
.site-feedback,
.contact-duo,
.secondary-nav{
    grid-column:                            span 12;
}

.duo,.trio,.quad{
    display:                                grid;
    grid-template-columns:                  1fr;
    grid-gap:                               1em;
}

.basic-list{
    display:                                none;
}
.mini-grid{
    display:                                block;
}

.six{
    display:                                grid;
    grid-template-columns:                  1fr 1fr 1fr;
    grid-gap:                               0.1em;
}

@media screen and (min-width: 56.875em) {
    .duo{     
        display:                            grid;
        grid-template-columns:              1fr 1fr;
        grid-gap:                           1em;
    }
    .trio{
        display:                            grid;
        grid-template-columns:              repeat(2, [column] auto);
        grid-gap:                           1em;
    }
    .quad{
        display:                            grid;
        grid-template-columns:              repeat(2, [column] auto);
        grid-gap:                           1em;
    }
    .basic-list{
        display:                            block;
    }
    .mini-grid{
        display:                            none;
}
    .page-template-menu{
        .site-main{
            display:                        grid;
            grid-template-columns:          3fr 9fr;
            grid-gap:                       1em;
        }
    }
}

@media screen and (min-width: 70em) {
    .trio{
        display:                            grid;
        grid-template-columns:              1fr 1fr 1fr;
        grid-gap:                           1em;
    }
    .quad{
        display:                            grid;
        grid-template-columns:              1fr 1fr 1fr 1fr;
        grid-gap:                           1em;
    }
}

 //REVERSE SIDEBAR LAYOUT
.content-reversed{
    details, main {
        display:                            block;
    }
    article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary{
        display:                            block;
    }
    @media screen and (min-width: 56.875em) {
        .content-area {
            float:                          right;
            margin-right:                   0;
            width:                          70%;
        }

        .sidebar {
            float:                          left;
            margin-left:                    0;
            padding:                        0;
            width:                          25%;
        }
    }
}
