// colors
$color-1: #404040; // brown
$color-2: #99a478; // green dark
$color-3: #b4d7a8; // green light
$color-4: #ffffff; // white

//header height
$header-height-S: 60px;
$header-height-M: 70px;

// fonts 
$primary-font: 'Roboto', sans-serif;

//z-index - order the elements from the lowest z-index(left) to the highest(right)
$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;

// rem fallback - credits: http://zerosixthree.se/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// breakpoints
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .ip-container class inside style.scss
@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}


/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	/* important */
	height: 100%;
}

a {
	color: $color-3;
	text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.ip-container { 
	width: 90%;
	max-width: $M;
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

/* -------------------------------- 

Main components 

-------------------------------- */

.ip-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-M;
	background: rgba($color-4, .95);
	box-shadow: 0 1px 2px rgba(#000, .2);
	z-index: index($main-elements, navigation);
	&:after {
		content: "";
		display: table;
		clear: both;
}

	#ip-logo {
		float: left;
		margin: 13px 0 0 5%;

		img {
			display: block;
		}
	}

	@include MQ(M) {
		height: $header-height-M;

		#ip-logo {
			margin: 13px 0 0 5%;
		}
	}
}

.ip-main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url('img/branding/ip-icon-menu.svg') no-repeat center center;
	background-size: 44px 44px;
	cursor: pointer;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transform: translateY(-100%);
        padding-left: 0px;
		&.is-visible {
			transform: translateY(60px);
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: darken($color-1, 5%);
		border-top: 1px solid lighten($color-1, 3%);
		color: lighten($color-1, 30%);
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		ul {
			position: static;
			width: auto;
			transform: translateY(0);
			line-height: $header-height-M;

			&.is-visible {
				transform: translateY(0);
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: none;
			color: $color-1;
			text-transform: uppercase;
			font-weight: bold;
			@include font-size(14px);

			.no-touch &:hover {
				color: $color-2;
			}
		}
	}
}

.ip-main-content {
	// height: 600px;
	position: relative;
    z-index: index($main-elements, main-content);
    margin-top: 60px;
    background-color: #fff;
}

.ip-fixed-bg {
	position: relative;
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: index($bg-elements, fixed-bg);

	h1, h2 {
		position: absolute;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		transform: translateX(-50%) translateY(-50%);
		width: 90%;
		max-width: $L;

		text-align: center;
		@include font-size(30px);
		text-shadow: 0 1px 3px rgba(#000, .3);
		color: $color-4;
	}

	&.ip-bg-1 {
		background-image: url('../img/branding/hero.png');
	}

	@include MQ(M) {
		h1, h2 {
			font-size: 36px;
		}
	}

	@include MQ(L) {
        margin-top: 70px;
		h1, h2 {
			font-size: 48px;
			font-weight: 300;
		}
	}
}

.ip-scrolling-bg {
	position: relative;
	min-height: 100%;
	// padding: 4em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(#000, .5);
    z-index: index($bg-elements, scrolling-bg);
    

	&.ip-color-1 {
		background-color: #fff;
		color: lighten($color-1, 40%);
	}

	&.ip-color-2 {
		background-color: $color-2;
		color: $color-1;
	}

	&.ip-color-3 {
		background-color: $color-3;
		color: $color-1;
	}

	@include MQ(M) {
		// padding: 8em 0;
		@include font-size(20px);
		line-height: 2;
		font-weight: 300;
	}
}