h1|Buttons
h2|Tiny
a.button.button-tiny(href='#') Go
a.button.button-rounded.button-tiny(href='#') Go
a.button.button-pill.button-tiny(href='#') Go
button.button.button-square.button-tiny
	i.fa.fa-plus
button.button.button-box.button-tiny
	i.fa.fa-plus
button.button.button-circle.button-tiny
	i.fa.fa-plus

h2|Small
a.button.button-primary.button-small(href='#') Go
a.button.button-primary.button-rounded.button-small(href='#') Go
a.button.button-primary.button-pill.button-small(href='#') Go
button.button.button-primary.button-square.button-small
	i.fa.fa-plus
button.button.button-primary.button-box.button-small
	i.fa.fa-plus
button.button.button-primary.button-circle.button-small
	i.fa.fa-plus

h2|Default
a.button.button-action(href='#') Go
a.button.button-action.button-rounded(href='#') Go
a.button.button-action.button-pill(href='#') Go
button.button.button-action.button-square
	i.fa.fa-plus
button.button.button-action.button-box
	i.fa.fa-plus
button.button.button-action.button-circle
	i.fa.fa-plus

h2|Large
a.button.button-highlight.button-large(href='#') Go
a.button.button-highlight.button-rounded.button-large(href='#') Go
a.button.button-highlight.button-pill.button-large(href='#') Go
button.button.button-highlight.button-square.button-large
	i.fa.fa-plus
button.button.button-highlight.button-box.button-large
	i.fa.fa-plus
button.button.button-highlight.button-circle.button-large
	i.fa.fa-plus

h2|Jumbo		
a.button.button-caution.button-jumbo(href='#') Go
a.button.button-caution.button-rounded.button-jumbo(href='#') Go
a.button.button-caution.button-pill.button-jumbo(href='#') Go
button.button.button-caution.button-square.button-jumbo
	i.fa.fa-plus
button.button.button-caution.button-box.button-jumbo
	i.fa.fa-plus
button.button.button-caution.button-circle.button-jumbo
	i.fa.fa-plus

h2|Giant
a.button.button-royal.button-giant(href='#') Go
a.button.button-royal.button-rounded.button-giant(href='#') Go
a.button.button-royal.button-pill.button-giant(href='#') Go
button.button.button-royal.button-square.button-giant
	i.fa.fa-plus
button.button.button-royal.button-box.button-giant
	i.fa.fa-plus
button.button.button-royal.button-circle.button-giant
	i.fa.fa-plus

h2|Border &amp; Borderless Buttons
button.button.button-large.button-plain.button-border.button-circle
	i.fa.fa-reply
button.button.button-large.button-plain.button-border.button-box
	i.fa.fa-star
button.button.button-large.button-plain.button-border.button-square
	i.fa.fa-trash-o
button.button.button-large.button-plain.button-borderless
	i.fa.fa-tag

h2|3D Buttons
button.button.button-3d.button-box.button-jumbo
	i.fa.fa-thumbs-up
a.button.button-3d.button-primary.button-rounded(href='#') Check out the new site!
a.button.button-3d.button-action.button-pill(href='#') Visit Us!
button.button.button-3d.button-action.button-circle.button-jumbo
	i.fa.fa-thumbs-up
a.button.button-3d.button-caution(href='#')
	i.fa.fa-camera
	|  Go
a.button.button-3d.button-royal(href='#') Say Hi!

h2|Raised Buttons
a.button.button-raised.button-primary.button-pill(href='#') Visit Us!
button.button.button-raised.button-action.button-circle.button-jumbo
	i.fa.fa-thumbs-up
a.button.button-raised.button-caution(href='#')
	i.fa.fa-camera
	|  Go
a.button.button-raised.button-royal(href='#') Say Hi!
a.button.button-raised.button-pill.button-inverse(href='#') Say Hi!

h2|Long Shadow Buttons
button.button.button-primary.button-box.button-giant.button-longshadow-right
	i.fa.fa-twitter
button.button.button-caution.button-box.button-raised.button-giant.button-longshadow
	i.fa.fa-google-plus
button.button.button-action.button-box.button-giant.button-longshadow-left
	i.fa.fa-share-alt
button.button.button-highlight.button-box.button-giant.button-longshadow-right.button-longshadow-expand
	i.fa.fa-rss
button.button.button-primary.button-circle.button-giant.button-longshadow
	i.fa.fa-gear

h2|Glowing Glowing
a.button.button-glow.button-rounded.button-raised.button-primary(href='#') Go
a.button.button-glow.button-border.button-rounded.button-primary(href='#') Go
button.button.button-glow.button-circle.button-action.button-jumbo
	i.fa.fa-thumbs-up
a.button.button-glow.button-rounded.button-highlight(href='#') Go
a.button.button-glow.button-rounded.button-caution(href='#') Go
a.button.button-glow.button-rounded.button-royal(href='#') Go

h2|Dropdown Buttons
span.button-dropdown(data-buttons='dropdown')
	button.button.button-rounded
		| Select Me 
		i.fa.fa-caret-down
	ul.button-dropdown-list
		li
			a(href='#') Option Link 1
		li
			a(href='#') Option Link 2
		li.button-dropdown-divider
			a(href='#') Option Link 3
span.button-dropdown.button-dropdown-primary(data-buttons='dropdown')
	button.button.button-primary.button-large
		i.fa.fa-bars
		|  Select Me
	ul.button-dropdown-list.is-below
		li
			a(href='#')
				i.fa.fa-heart-o
				|  Option Link 1
		li
			a(href='#') Option Link 2
		li.button-dropdown-divider
			a(href='#') Option Link 3
span.button-dropdown.button-dropdown-action(data-buttons='dropdown')
	button.button.button-action
		| Select Me 
		i.fa.fa-caret-up
	ul.button-dropdown-list.is-above
		li
			a(href='#') Option Link 1
		li
			a(href='#') Option Link 2
		li.button-dropdown-divider
			a(href='#') Option Link 3
span.button-dropdown.button-dropdown-plain(data-buttons='dropdown')
	button.button.button-caution.button-pill
		| Select Me 
		i.fa.fa-caret-down
	ul.button-dropdown-list
		li
			a(href='#') Option Link 1
		li.button-dropdown-divider
			a(href='#') Option Link 2
		li
			a(href='#') Option Link 3
span.button-dropdown.button-dropdown-inverse(data-buttons='dropdown')
	a.button.button-inverse(href='#')
		i.fa.fa-envelope
		|  Select Me 
		i.fa.fa-caret-down
	ul.button-dropdown-list.is-below
		li
			a(href='#') Option Link 1
		li.button-dropdown-divider
			a(href='#') Option Link 2
		li
			a(href='#') Option Link 3

h2|Button Groups
.button-group
	button.button.button-primary(type='button') Option 1
	button.button.button-primary(type='button') Option 2
	button.button.button-primary(type='button') Option 3
	// DROPDOWN MENU
	span.button-dropdown.button-dropdown-primary(data-buttons='dropdown')
		a.button.button-primary(href='#')
			| Select Me 
			i.fa.fa-caret-down
		ul.button-dropdown-list.is-below
			li
				a(href='#') Option Link 1
			li
				a(href='#') Option Link 2
			li.button-dropdown-divider
				a(href='#') Option Link 3
.button-group
	button.button.button-pill.button-action(type='button') Option 1
	button.button.button-pill.button-action(type='button') Option 2
	button.button.button-pill.button-action(type='button') Option 3
.button-group
	button.button.button-royal.button-rounded.button-raised(type='button') Option 1
	button.button.button-royal.button-rounded.button-raised(type='button') Option 2
	button.button.button-royal.button-rounded.button-raised(type='button') Option 3

h2|Stacked Buttons
a.button.button-block.button-rounded.button-large(href='#') Go
a.button.button-block.button-rounded.button-primary.button-large(href='#') Go
a.button.button-block.button-rounded.button-plain.button-large(href='#') Go
a.button.button-block.button-rounded.button-action.button-large(href='#') Go
a.button.button-block.button-rounded.button-highlight.button-large(href='#') Go
a.button.button-block.button-rounded.button-caution.button-large(href='#') Go
a.button.button-block.button-rounded.button-royal.button-large(href='#') Go

h2|Buttons Warppers
span.button-wrap
	button.button.button-circle
		i.fa.fa-cloud
span.button-wrap
	button.button.button-circle.button-raised.button-primary
		i.fa.fa-cloud
span.button-wrap
	a.button.button-pill(href='#') Go
span.button-wrap
	a.button.button-pill.button-raised.button-primary(href='#') Go

h2|Form Buttons
input.button.button-pill.button-primary(value='Go', type='submit')
button.button.button-pill.button-primary Go
// DISABLED BUTTONS
input.button.button-pill.button-primary(disabled='', value='Go', type='submit')
button.button.button-pill.button-primary(disabled='') Go
button.button.button-pill.button-flat-primary(disabled='') Go
a.button.disabled.button-pill.button-primary(href='#') Go

h2|Typographic Styles
a.button.button-uppercase.button-primary(href='#') uppercase
a.button.button-lowercase.button-primary(href='#') lowercase
a.button.button-capitalize.button-primary(href='#') capitalize
a.button.button-small-caps.button-primary(href='#') small caps
