header.entry-header
	h1.entry-title|Pricing
.entry-content
	.price_card.alpha
		.header
			span.price Starting at $100/m
			span.name Local Listings Optimization
		ul.features
			li Become visible to people in your location
			li Local Listings Optimization
		button Learn More
	.price_card.bravo
		.header
			span.price Campaigns start at $500/m
			span.name Managed Pay Per Click
		ul.features
			li Protection from irrelevant and fraudulent clicks
			li Focused pinpoint advertising 
			li Fast response times for changes and updates
		button Learn More
		span.tip * Most popular!
	.price_card.charlie
		.header
			span.price Projects start at $500
			span.name Web Development
		ul.features
			li Website Branding and Design
			li Wordpress Theme Development
		button Learn More
