div(data-respond)
	.grid
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-1.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-2.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-3.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
		.card(data-my-order="0")
			.card__media
				img(data-src="assets/images/fulls/image-4.jpg" class="walden" height="" title="An Image")
			.card__copy
				h3|Header
				p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a(href="assets/images/fulls/image-1.jpg")
