//- content-page.php
	Displays header site branding

.site-branding
	a(href="index.html" rel="home" tabindex="1" class="unstyled")
		p.site-title
			|Juliete
	.site-description
		|Site Tagline
		div#vendor-edge.browser Edge:
		div#vendor-ie-11.browser IE 11:
		div#vendor-ie-10.browser IE 10:
		div#vendor-ie-9.browser IE 9:
		div#vendor-ie-8.browser IE 8:
		div#vendor-ie-7.browser IE 7:
		div#vendor-khtml.browser KHTML:
		div#vendor-mozilla.browser Mozilla:
		div#vendor-opera.browser Opera:
		div#vendor-opera-mini.browser Opera Mini:
		div#vendor-webkit.browser WebKit:
		div#browser-android.browser Android:
		div#browser-chrome.browser Chrome:
		div#browser-safari.browser Safari:
		div#browser-safari-ios.browser Safari iOS:
		div#browser-wiiu.browser WiiU:
		.supported|Your browser supports CSS Grid
		.unsupported|Your browser does not support CSS Grid
