<span class="browser" id="vendor-edge">Edge</span>

<span class="browser" id="vendor-ie-11">IE 11</span>

<span class="browser" id="vendor-ie-10">IE 10</span>

<span class="browser" id="vendor-ie-9">IE 9</span>

<span class="browser" id="vendor-ie-8">IE 8</span>

<span class="browser" id="vendor-ie-7">IE 7</span>

<span class="browser" id="vendor-khtml">KHTML</span>

<span class="browser" id="vendor-mozilla">Mozilla</span>

<span class="browser" id="vendor-opera">Opera</span>

<span class="browser" id="vendor-opera-mini">Opera Mini</span>

<span class="browser" id="vendor-webkit">WebKit</span>

<span class="browser" id="browser-android">Android</span>

<span class="browser" id="browser-chrome">Chrome</span>

<span class="browser" id="browser-safari">Safari</span>

<span class="browser" id="browser-safari-ios">Safari iOS</span>

<span class="browser" id="browser-wiiu">WiiU</span>