#primary.content-area.full-width
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title
					a(href="project.html")|Article Header
			.post-thumbnail.gallery
				img(data-src="assets/images/fulls/image-1.jpg")
			.entry-content
				include ../elements/_#typography.pug
		include ../comments.pug
	include _#sidebar-content-bottom.pug