#primary.content-area.full-width
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title
					a(href="project.html")|Title
			.entry-content
				include ../content/_#project-strip.pug
				include ../content/_#typography.pug