.accordion
	.tab
		input#tab-one(type='checkbox', name='tabs')
		label(for='tab-one') Label One
		.tab-content
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
	.tab
		input#tab-two(type='checkbox', name='tabs')
		label(for='tab-two') Label Two
		.tab-content
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
	.tab
		input#tab-three(type='checkbox', name='tabs')
		label(for='tab-three') Label Three
		.tab-content
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
