h1| Breadcrumbs
section
	h2 Basic
	nav
		ol.breadcrumb--default
			li
				a(href='#0') Home
			li
				a(href='#0') Gallery
			li
				a(href='#0') Web
			li.current
				em Project
section
	h2 Custom Icons
	nav
		ol.breadcrumb--custom-separator-custom-icons
			li
				a(href='#0') Home
			li
				a(href='#0') Gallery
			li
				a(href='#0') Web
			li.current
				em Project