.grid-constrainer
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-1.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-2.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-3.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-4.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-5.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-6.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-7.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World
	figure.imghvr-fade
		img(data-src="https://grault.com/images/thumbs/image-8.jpg" class="" alt="An Image" width="" height="")
		a(href="project.html")
			figcaption
				h3|Hello World