h1|Links
a(href='/page/', target='' class="")  default link 
br
a(href='http://google.com', target='_blank' class="")  external link 
br
a(href='memo.doc' class="")  word document 
br
a(href='/files/1.pdf' class="")  pdf document 
br
a(href='/files/1.xls' class="")  excel document 
br
a(href='/files/1.pcm' class="")  sound file 
br
a(href='/files/1.mov' class="")  video file 
br
a(href='#' class="")
	| Facebook 
	i.fa.fa-facebook
br
a(href='#' class="")
	| Twitter 
	i.fa.fa-twitter
br
a(href='#' class="")
	| Github 
	i.fa.fa-github
br
a(href='#' class="")
	| Instagram 
	i.fa.fa-instagram
