h1| Tables
h2 Basic overflow:
table.rtable.tablesorter#myTable
  thead
    tr
      th Browser
      th Sessions
      th
        | Percentage
      th New Users
      th Avg. Duration
  tbody
    tr
      td Chrome
      td 9,562
      td 68.81%
      td 7,895
      td 01:07
    tr
      td Firefox
      td 2,403
      td 17.29%
      td 2,046
      td 00:59
    tr
      td Safari
      td 1,089
      td 2.63%
      td 904
      td 00:59
    tr
      td Internet Explorer
      td 366
      td 2.63%
      td 333
      td 01:01
    tr
      td Safari (in-app)
      td 162
      td 1.17%
      td 112
      td 00:58
    tr
      td Opera
      td 103
      td 0.74%
      td 87
      td 01:22
    tr
      td Edge
      td 98
      td 0.71%
      td 69
      td 01:18
    tr
      td Other
      td 275
      td 6.02%
      td 90
      td N/A
h2 Flipped axis and overflow:
table.rtable.rtable--flip
  thead
    tr
      th Browser
      th Sessions
      th
        | Percentage
      th New Users
      th Avg. Duration
  tbody
    tr
      td Chrome
      td 9,562
      td 68.81%
      td 7,895
      td 01:07
    tr
      td Firefox
      td 2,403
      td 17.29%
      td 2,046
      td 00:59
    tr
      td Safari
      td 1,089
      td 2.63%
      td 904
      td 00:59
    tr
      td Internet Explorer
      td 366
      td 2.63%
      td 333
      td 01:01
    tr
      td Safari (in-app)
      td 162
      td 1.17%
      td 112
      td 00:58
    tr
      td Opera
      td 103
      td 0.74%
      td 87
      td 01:22
    tr
      td Edge
      td 98
      td 0.71%
      td 69
      td 01:18
    tr
      td(style='min-width: 100px;') Other
      td 275
      td 6.02%
      td 90
      td N/A
