#primary.content-area.full-width
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			//- include ../content/_#forms.pug
			include ../content/_#typography.pug