#primary.content-area.full-width
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|Contact
			.entry-content
				p|I always love working with new people and solving fun and challenging problems. I'm currently available for freelance work, so if you'd like to discuss how we might be able to work together, feel free to send me a quick email.
				p|Email: info@c0dec.com
				p|707 298 5267