.media
	.img
		img(data-src='https://grault.com/images/mediums/image-1.jpg', alt='Placeholder')
	h2.title This is my title
	.content
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
			| Praesent quis risus id dolor venenatis condimentum.
	.footer
		p
			| An optional footer goes here.
.media.media-flip
	.img
		img(data-src='https://grault.com/images/mediums/image-2.jpg', alt='Placeholder')
	h2.title This is my title
	.content
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
			| Praesent quis risus id dolor venenatis condimentum.
	.footer
		p
			| An optional footer goes here.
.media
	h2.title This is my title
	.img
		img(data-src='https://grault.com/images/mediums/image-3.jpg', alt='Placeholder')
	.content
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
			| Praesent quis risus id dolor venenatis condimentum.
	.footer
		p
			| An optional footer goes here.
	.media
		h2.title This is my title
		.img
			img(data-src='https://grault.com/images/mediums/image-4.jpg', alt='Placeholder')
		.content
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
				| Praesent quis risus id dolor venenatis condimentum.
		.footer
			p
				| An optional footer goes here.
		.media
			h2.title This is my title
			.img
				img(data-src='https://grault.com/images/mediums/image-5.jpg', alt='Placeholder')
			.content
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
					| Praesent quis risus id dolor venenatis condimentum.
			.footer
				p
					| An optional footer goes here.
.media.img-flexie
	.img
		img(data-src='https://grault.com/images/mediums/image-6.jpg', alt='Placeholder')
	h2.title Both my columns flex
	.content
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis condimentum.
	.footer
		p
			| An optional footer goes here.
.media.media-flip.img-flexie
	.img
		img(data-src='https://grault.com/images/mediums/image-7.jpg', alt='Placeholder')
	h2.title Both my columns flex
	.content
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus. Praesent quis risus id dolor venenatis condimentum.
	.footer
		p
			| An optional footer goes here.
