//- The template for displaying 404 pages (not found)
#primary.content-area
    main#main.site-main(role="main")
        section.error-404.not-found
            header.page-header
                h1.page-title
                    |Oops! That page can&rsquo;t be found.
                //h1.page-title
            //header.page-header
            .page-content
                p|It looks like nothing was found at this location. Maybe try a search?
            //.page-content
        //section.error-404.not-found
    //main#main.site-main(role="main")
//#primary.content-area