doctype html
html(lang="en")
	head
		meta(charset="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="profile" href="http://gmpg.org/xfn/11")
		link(rel="pingback" href="#")
		link(rel="stylesheet" href="style.css")
		title| Beef Noodle Soup: Pho Thiên Long
	//- body.wp-custom-logo
	body.page-template-menu.page.wp-custom-logo.group-blog.no-sidebar.custom-background.menu
		#page.site
			.site-inner
				
				include includes/_header.pug
				include includes/_hero-appetizers.pug
				//.site-header
				#content.site-content
					#primary.content-area
						include includes/_main-beef-noodle-soup.pug
				//.site-content
				include includes/_secondary-menu.pug
				include includes/_contact-duo.pug
				include includes/_footer.pug
			//.site-inner
		//.site