doctype html
html(lang="en")
	head
		meta(charset="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="profile" href="http://gmpg.org/xfn/11")
		link(rel="pingback" href="#")
		link(rel="stylesheet" href="style.css")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#121182")
		meta(name="theme-color", content="#121182")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js")
		title| Commercial Painting
	//- body.wp-custom-logo
	body.page-template-default.page.wp-custom-logo.group-blog.no-sidebar
		include includes/_header.pug
		include includes/_hero-commercial.pug
		main.ip-main-content
			.ip-container
				article
					header.article-header
						h2|Painting Services For Commercial Developments
					p|Our company is based on the belief that our customers’ needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers and referrals. We would welcome the opportunity to earn your trust and deliver you the best commercial painting contractor services in the industry. We serve all of Florida including Orlando, Daytona and Gainesville and will come to your location at a time that is most convenient for you.
					p|Our experience allows us to ensure that each job is done right the first time. We pride ourselves on customer service and aim to provide 100% customer satisfaction. RKL Painting Contractors in Florida will work around your business schedule so as not to interrupt customer traffic flow, clients, appointments, or inconvenience your patients or employees in any way. We are available to work after hours and weekends when necessary.
		.bridge-commercial(uk-parallax="bgy: -50")
			.ip-container
				h2|Ready To Get Started?
				p|Call us today 407-830-4611 for a free estimate
		include includes/_footer.pug