-var selected = 'contact';
doctype html
html(lang="en")
	head
		meta(charset="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="profile" href="http://gmpg.org/xfn/11")
		link(rel="pingback" href="#")
		link(rel="stylesheet" href="style.css")
		title| Contact: Pho Thiên Long
	//- body.wp-custom-logo
	body.page-template-default.page.wp-custom-logo.group-blog.custom-background.contact
		#page.site
			.site-inner
				
				include includes/_header.pug
				//.site-header
				#content.site-content
					#primary.content-area
						include includes/_main-contact.pug
					aside#secondary.sidebar.widget-area(role='complementary')
						section#text-4.widget.widget_text
							h2.widget-title Sidebar
							.textwidget
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				//.site-content
				include includes/_footer.pug
			//.site-inner
		//.site