//- The template for displaying image attachments
#primary.content-area
    main#main.site-main(role="main")
        article#post-1.post
            nav#image-navigation.navigation.image-navigation
                .nav-links
                    .nav-previous|Previous Image
                    //.nav-previous
                    .nav-next|Next Image
                    //.nav-next
                //.nav-links
            //nav#image-navigation.navigation.image-navigation
            header.entry-header
                h1.entry-title
                //h1.entry-title
            //header.entry-header
            .entry-content
                .entry-attachment
                //.entry-attachment
            //.entry-content
            footer.entry-footer
            //footer.entry-footer
        //article#post-1.post
        //README: https://codex.wordpress.org/Function_Reference/post_class
    //main#main.site-main(role="main")
//#primary.content-area
